/* Classes */

//h1
.callingStyle {
    display: block;
    border-color: white;
    -webkit-text-stroke: 1px #fff ;
    color: #000;
    
}

.linHight {
    line-height: 85px;
}

.primaryButton {
    color: #fff;
    background: #000;
    padding: 1vh 4vw;
    border-color: #fff;
&:hover {
    background-color: #fff;
    color: #000;
}
}

.flexcontainer1 {
    display: flex;
    justify-content: space-between;
}

.lineHightText {
    line-height: 1.5rem;
}

.lineHightHeadlines {
    line-height: 5rem;
    padding-bottom: 2vh;
}