/* Fonts */

@font-face {
    font-family: "work-sans";
    src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "lora";
    src: url("../fonts/Lora-VariableFont_wght.ttf");
}